:root {
  --primary: #121212;
  --secondary: #2a2a2a;
  --accent: #0078f2;
  --error: rgb(255, 73, 73);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: var(--primary);
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
}

a {
  color: rgb(0, 100, 200);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: rgb(0, 80, 160);
}

label {
  display: block;
}

input,
button,
select,
textarea {
  padding: 0.4em;
  border: none;
  border-radius: 2px;
}
button {
  outline: none;
}
